
{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<div style="padding:16px">
  <p>Home > Handphone & Tablet > Handphone</p>
  <h3>Samsung Galaxy A20 (ditemukan 108 item)</h3>
</div>

<div class="rowcontainer">
  <div class="left">
    <h3>Filter</h3>
    <form action="#">
      <label for="fname">Harga Minimum</label><br>
      <input type="number" name="minprice" placeholder="Minimum"><br>
      <label for="fname">Harga Maksimum</label><br>
      <input type="number" name="maxprice" placeholder="Minimum"><br>
      <input type="submit" value="Terapkan">
    </form>
    <form class="" action="#">
      <input type="submit" name="reset" value="Reset">
    </form>
    <form class="" action="#">
      <input type="submit" name="compare" value="Bandingkan">
    </form>
  </div>

  <div class="right">
    <div class="rowcontain">
      <div class="card-info">
        <h2>Samsung Galaxy A20</h2>
        <table>
          <tr>
            <th>Harga Terendah</th>
            <th>Harga Tertinggi</th>
          </tr>
          <tr>
            <td>Rp 2.000.000</td>
            <td>Rp 2.900.000</td>
          </tr>
          <tr>
            <th>Harga Rata-Rata</th>
            <th>Harga Tengah</th>
          </tr>
          <tr>
            <td>Rp 00000</td>
            <td>Rp 00000</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="rowcontain">


    <div class="cardcontainer">
      {%for i in range(0,jmlprod)%}
      <div class="card-produk">
        <img src="hp.jpg" alt="Avatar" style="width:100%">
        <div class="cardcontentcontainer">
          <h4><b>Samsung Galaxy A20</b></h4>
          <p>Baru | Bandung</p>
          <p>Rp 2.500.000</p>
          <p>Rp Shopee</p>
          <form method="POST" action="#"><button class="button button2">Kunjungi Toko</button></form><br>
          <form method="POST" action="http://localhost:5000/product_detail"><button type="submit" class="button button3">Lihat Detail</button></form><br>
          <!-- <p><a href="{{ url_for('product_detail') }}">Lihat Produk</a></p> -->
          <label class="limit-checkbox">Bandingkan
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      {%endfor%}
    </div>
    </div>
  </div>
</div>
<script>

  $('input[type=checkbox]').on('change', function (e) {
    if ($('input[type=checkbox]:checked').length > 3) {
        $(this).prop('checked', false);
        alert("allowed only 3");
    }
});

</script>
</html>

{% endblock content %}
