{% extends "layout.html" %}

{% block content %}
<div style="padding:16px">
  <h3>Samsung Galaxy A20 (ditemukan 108 item)</h3>
</div>
<div class="rowcontainer">
  <div class="left">
    <img src="hp.jpg" alt="Avatar" style="width:100%">
    <h3>Deskripsi Produk</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="right">
    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td><h3>Nama Produk</h3></td>
        <td><p>Nama Produk</p></td>
      <tr>
      <tr>
        <td><h3>Harga Produk</h3></td>
        <td><p>Harga Produk</p></td>
      </tr>
      <tr>
        <td><h3>Kondisi Produk</h3></td>
        <td><p>Kondisi Produk</p></td>
      </tr>
      <tr>
        <td><h3>Last Update</h3></td>
        <td><p>Last Update</p></td>
      </tr>
      <tr>
        <td><h3>Diskon Produk</h3></td>
        <td><p>Diskon Produk</p></td>
      </tr>
      <tr>
        <td><h3>Terjual</h3></td>
        <td><p>Terjual</p></td>
      </tr>
      <tr>
        <td><h3>Rating</h3></td>
        <td><p>Rating</p></td>
      </tr>
      <tr>
        <td><h3>Jumlah Rating</h3></td>
        <td><p>Jumlah Rating</p></td>
      </tr>
      <tr>
        <td><h3>Penjual</h3></td>
        <td><p>Penjual</p></td>
      </tr>
      <tr>
        <td><h3>Lokasi Toko</h3></td>
        <td><p>Lokasi Toko</p></td>
      </tr>
      <tr>
        <td><h3>Online Marketplace</h3></td>
        <td><p>Online Marketplace</p></td>
      </tr>
    </table>

  </div>
</div>
{% endblock content %}
